# Bundler
/.bundle
/vendor/bundle
Gemfile.lock

# Logs
/log/*
!/log/.keep

# Temp files
/tmp/*
!/tmp/.keep

# Database
/db/*.sqlite3
/db/*.sqlite3-*

# Environment
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo
